{% extends "base.html" %}

{% block title %}Login - BAR COMANDAS{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="login-container">
  <h2>Iniciar Sesión</h2>

  <form method="post" action="{{ url_for('login') }}">
    <input type="text" name="username" placeholder="Usuario" required autofocus />
    <input type="password" name="password" placeholder="Contraseña" required />
    <button type="submit">Entrar</button>
  </form>
</div>
{% endblock %}
