<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mapa del Salón</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mesas.css') }}">
</head>
<body>

<h2>Mapa del Salón</h2>

<div class="salon">

  <!-- ZONAS -->
  <div class="zona barra">BARRA</div>
  <div class="zona entrada">ENTRADA</div>
  <div class="zona cocina">COCINA</div>
  <div class="zona caja">CAJA</div>
  <div class="zona banos">BAÑOS</div>

  <!-- MESAS -->
<div class="mesa ocupada mesa-1">1</div>
<div class="mesa ocupada mesa-2">2</div>

<div class="mesa ocupada mesa-3">3</div>
<div class="mesa ocupada mesa-4">4</div>
<div class="mesa ocupada mesa-5">5</div>
<div class="mesa ocupada mesa-6">6</div>

<div class="mesa ocupada grande mesa-14">14</div>

<div class="mesa cobro mesa-11">11</div>
<div class="mesa cobro mesa-12">12</div>

<div class="mesa pagada mesa-15">15</div>
<div class="mesa pagada mesa-16">16</div>

<div class="mesa libre mesa-31">31</div>
<div class="mesa libre mesa-32">32</div>
<div class="mesa libre mesa-33">33</div>
<div class="mesa libre mesa-34">34</div>

</div>

</body>
</html>
